// @import "./css/variable.styl"
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

$blue = #D8EAF9
$black = #50514F
body
    margin 0px
    background-color $blue
    font-family 'Open Sans', sans-serif
    #app
      background-color $blue
      color $black
      h1
        font-size 36px
      .control-label
        font-size 24px
        font-weight 100
      .form-control
        height 50px
        color $black
        font-size 20px
        background transparent
        border-color darken($blue, 20%)
        border-width 2px

    .testFunction
      button
        padding 5px 10px
        margin 0 10px
        font-size 16px
        background $blue
        color $black
        border 2px solid $black
        border-radius 2.5px
