@import "./App.styl"
$black = #50514F
$blue = #D8EAF9
$white = #F0F0F0
$fb_color = rgba(#3b5998, 0.8)
$bg-color= #ff8888 //start color
$stops= 100 //smoothness
$time= 20s //duration of animation
$hue-range= 20 //of 360deg
.chart_card_contain
  padding 0 15px
  .chart_card
    padding 5px 15px 10px
    margin 15px 0
    border-radius 5px
    background white
    box-shadow 3px 4px 5px rgba($black, 0.25)
    .chart_titleText
      font-size 2.5em
    .chart_contentText
      font-size 1.25em
